
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{% block title 'Accueil' %} - Cotisation BDE UTT</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/cover.css') }}" rel="stylesheet">
    <![endif]-->
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">{{ 'app.name'|trans }}</h3>
                    {% if app.session.has('user') %}
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="{{ app.url_generator.generate('home') }}">{{ 'menu.home'|trans }}</a></li>
                            <li><a href="{{ app.url_generator.generate('dashboard') }}">{{ 'menu.dashboard'|trans }}</a></li>
                            <li><a href="{{ app.url_generator.generate('logout') }}">{{ 'menu.logout'|trans }}</a></li>
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="inner cover">
                <p class="lead"><img src="{{ asset('img/bde-utt.png') }}" width="200px" alt=""></p>
                <h1 class="cover-heading">Welcome,</h1>
                <p class="lead">{{ 'cover.welcome_text'|trans }}</p>
                {% if not app.session.has('user') %}
                <p class="lead">
                    <a href="{{ app.url_generator.generate('login') }}" class="btn btn-lg btn-danger">{{ 'menu.login'|trans }}</a>
                </p>
                {% endif %}
            </div>


        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
